* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 50px;
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
}
.img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
#input[type="file"] {
  display: none;
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  line-height: 50px;
}
.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: #4b73e1;
  text-align: center;
  cursor: pointer;
}
